ul {
    font-size:30px;
    font-weight : 600;
    width : 75%;
}

li {
    margin : 20px;
 
}
.input__register {
    border:none;
    border-bottom : 1px solid var(--main-color);
    width : 33%;
    transition: var(--main-color) 0.3s ease-in-out;
}

li:last-child{
    display: flex;
    justify-content:flex-end;
    margin-top: 50px;
    margin-right : 80px;
}

.btn-register {
    border : none;
    border-radius : 10px;
    padding : 10px;
    background-color : var(--main-color);
    color : white;
    font-size:25px;
}


.voteData {
    font-size : 35px;
    width : 500px;
    height : 500px;
    display: flex;
    margin : 30px;
    flex-direction : column;
}

.eletion__title {
    margin : 5px; 0px;
}

.databox {
    display : flex;
    margin-top: 25px;
}

.voteData {
    width : 500px;
    height : 500px;
    border : 3px solid var(--main-color);
    border-radius : 10px;
    padding : 15px;
}

.infoElection__title {
    margin : 30px 0px;
    font-size : 25px;
    font-weight : 600;
}


.infoElection__header {
    font-size : 40px;
    font-weight : 700;
    color : var(--main-color);
}
