@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import "reset.css";
@import "variable.css";
@import "login.css";
@import "register.css";
@import "loading.css";

body {
    background-color: white;
    height: 300vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.screen__header {
    background-color: white;
    color: gray;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

.screen__icon {
    margin-left: 10px;
    font-size: 30px;
}

.screen__icon_i {
    width: 250px;
    height: 100px;
}

.contents {
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
    justify-content: flex-end;
}

.contents__login {
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    color: #FECBB0;
    padding: 0px 10px;
}
.contents__address {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    padding: 0px 10px;
}

main {
    margin-left: 30px;
    margin-top : 150px;
}

.section {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px 0;
}

.section__register {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 50px 0;
}

.screen__description {
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.section_one {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.section_two {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.section_three {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.introduction__header {
    font-size: 35px;
}

.introduction__paragraph {
    font-size: 22px;
    margin-top: 40px;
}

.introduction__warning {
    margin-top: 40px;
    font-size: 20px;
}

.vote__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 50px;
}

.screen__image {
    weight : 300px;
    height : 300px;
    margin-bottom : 50px;
    border-radius: 50px;
    animation: flight 2s ease-in-out infinite;
}

.screen__image__vote {
    weight : 250px;
    height : 250px;
    margin-bottom : 50px;
    border-radius: 50px;
    animation: flight 3s ease-in-out;
} 
.vote__btn {
    background-color: var(--main-color);
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}


@keyframes flight {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#candidatesResults__total {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.text-center:first-child {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 600px;
}

.container {
    margin-top: 100px;
}

